:root {
  box-sizing: border-box;
  cursor: default;
  color: #333;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {

  font-size: .875em;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-weight: 400;
  box-sizing: inherit;
}

#root {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 1rem;
  align-items: center;

  background-color: ghostwhite;
  box-shadow: 0px 0px 15px 1px rgba(100, 100, 100, .3);
  height: calc(100vh - 2rem);
}

.NumberForm {
  display: flex;

  flex-direction: row;
  input {

    flex-grow: 1;
    font-size: 2rem;
    padding: .1rem 0.2rem;
    color: #777;
    width: 100%;
  }
  label {

    color: #888;
    width: 20vw;
    min-width: 226px;
    font-size: 2rem;
    padding: .5rem 1rem;
  }
}

.Footer {
  &__author {
    display: inline-flex;
    align-items: center;
    a {
      margin: 1rem;
    }
    img {
      width: 2rem;
      height: 2rem;
    }
  }

}